<div th:fragment= "localeScript">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</div>

<div th:fragment="selectLanguage">
    <select class="form-control" id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="ua" th:text="#{lang.ua}"></option>
    </select>
</div>