<div th:fragment="localeScript" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        function setCookies(locale){
            document.cookie = "lang=" + locale.value;
            location.reload();
        }
    </script>

</div>

<div th:fragment="selectLanguage" xmlns:th="https://www.thymeleaf.org">
        <button value="en" th:text="#{lang.en}" onclick="setCookies(this)"></button>
        <button value="ua" th:text="#{lang.ua}" onclick="setCookies(this)"></button>
</div>