<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
    <link rel="stylesheet" href="../static/style.css">

</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body>
<div>
    <a th:href="@{'/course_catalog/' + ${currentPage} + '?sortField=courseName&sortOrder=' + ${reverseSortOrder}}">Course name</a>
</div>
<div class="card-columns">
    <div th:each="course: ${courseList}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${course.courseName}"></h5>
                <h6 class="card-subtitle mb-2 text-muted"
                    th:text="${course.teacher.firstName} + ' ' + ${course.teacher.lastName}"></h6>
                <p class="card-text" th:text="${course.description}"></p>
                <p class="card-text" th:text="${course.startDate} + ' ' + ${course.endDate}"></p>
                <a th:if="${course.status.NOT_STARTED}" th:href="@{/join-course/{id}(id=${course.id})}" class="card-link">Join course</a>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/pagination :: pagination"></div>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<footer th:insert="fragments/footer :: footer"></footer>

</html>