<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h1>form</h1>
<form th:action="@{/admin/course}" th:object="${courseDto}" method="post" enctype="utf8">
    <div>
        <label>Course name:</label>
        <input th:field="*{courseName}"/>

        <label>Description</label>
        <input th:field="*{description}"/>

        <label>Start date</label>
        <input type="date" th:field="*{startDate}"/>
    </div>
    <div>
        <label>End date</label>
        <input type="date" th:field="*{endDate}"/>
    </div>

    <!--    <select name="languages">-->
    <!--        <option disabled>Languages</option>-->
    <!--        <option th:each="language: ${T(com.example.facultative.entity.enums.Languages).values()}"-->
    <!--                th:value="${language.name().toString()}" th:text="${language.name()}"></option>-->
    <!--    </select>-->

    <select name="language">
        <option disabled>Languages</option>
        <option th:each="language: ${languages}"
                th:value="${language.name()}" th:text="${language.name()}"></option>
    </select>


    <select name="subject">
        <option disabled>Subjects</option>
        <option th:each="subject: ${subjects}"
                th:value="${subject.id}" th:text="${subject.name}"></option>
    </select>

    <select name="teacher">
        <option disabled>Teachers</option>
        <option th:each="teacher: ${teachers}"
                th:value="${teacher.id}" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></option>
    </select>

    <button type="submit">submit</button>
</form>
</body>
</html>