<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body>
<h1 th:text="#{create.course}"></h1>
<form th:action="@{/admin/course}" th:object="${course}" method="post" enctype="utf8">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>

    <div>
        <label>[[#{course.name}]]:</label>
        <input th:field="*{courseName}"/>

        <label>[[#{course.description}]]:</label>
        <input th:field="*{description}"/>

        <label>[[#{course.start.date}]]:</label>
        <input type="date" th:field="*{startDate}"/>
    </div>
    <div>
        <label>[[#{course.end.date}]]:</label>
        <input type="date" th:field="*{endDate}"/>
    </div>

    <select name="language">
        <option th:each="language: ${T(com.example.facultative.entity.enums.Languages).values()}"
                th:value="${language}" th:text="${language}"></option>
    </select>

    <select name="subject">
        <option disabled>[[#{course.subject}]]</option>
        <option th:each="subject: ${subjects}"
                th:value="${subject.id}" th:text="${subject.name}"></option>
    </select>

    <select name="teacher">
        <option disabled>[[#{course.teacher}]]</option>
        <option th:each="teacher: ${teachers}"
                th:value="${teacher.id}" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></option>
    </select>

    <button type="submit">[[#{btn.submit}]]</button>
</form>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<footer th:insert="fragments/footer :: footer"></footer>
</html>