<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:include="fragments/bootstrap :: head"></div>
</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body>
<form th:action="@{/teacher/journal/}" th:object="${journalDto}" method="post" enctype="utf8">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> [[#{usr.email}]]</th>
            <th scope="col"> [[#{user.username}]]</th>
            <th scope="col"> [[#{usr.name}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${studentsList}">
            <td><span th:text="${user.email}"> </span></td>
            <td><span th:text="${user.username}"> </span>
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="hidden" name="courseId" th:value="${id}"/>
            </td>
            <td><span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></td>
            <td>
                <div th:if="${course.status.FINISHED}">
                    <select name="grade">
                        <option disabled>Chose grade</option>
                        <option th:each="grade: ${grades}"
                                th:value="${grade.name()}" th:text="${grade.name()}"></option>
                    </select>
                </div>
            </td>
            <td>
                <div th:switch="${course.status.FINISHED}">
                    <button  type="submit">[[#{btn.submit}]]</button>
                </div>
            </td>
        </tr>
        </tbody>

    </table>

</form>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<footer class="card-footer fixed-bottom" th:insert="fragments/footer :: footer"></footer>

</html>