<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div><label > Username: <input type="text" name="username"/> </label></div>
    <div><label > Password: <input type="password" name="password"/> </label></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<div class="dialog-row">
    <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText">Mot de passe inconnu</label>
</div>
</body>
</html>
