<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ua">
<head>
    <div th:include="fragments/bootstrap :: head"></div>

</head>

<body class="text-center">
<div class="container">
    <div class="mr-2" th:include="fragments/locale :: selectLanguage"></div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" th:text="#{login.signin}"></div>
                <div class="card-body">
                    <div th:if="${error}">
                        <div class="alert alert-danger" role="alert">[[#{login.invalid}]]</div>
                    </div>

                    <div th:if="${logout}">
                        <div class="alert alert-primary" role="alert">[[#{logout.success}]]</div>
                    </div>

                    <form class="form-group" th:action="@{/login}" method="post">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" th:text="#{label.username}"></label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="username"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" th:text="#{user.password}"></label>
                            <div class="col-md-6">
                                <input class="form-control" type="password" name="password"/>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" th:text="#{label.login}"></button>
                        <div><a href="/registration">[[#{create.account}]]</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<div th:include="fragments/locale :: localeScript"></div>
</html>
