<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
    <title th:text="#{main.welcome}"></title>
</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body>
<h1 class="ml-4" th:inline="text" sec:authorize="isAuthenticated()" th:text="#{title.greeting}"> </h1>
<div th:include="fragments/task"></div>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<!--<footer class="footer">-->
<!--    <div class="fixed-bottom myfooter" th:insert="fragments/footer :: footer"></div>-->
<!--</footer>-->
</html>