<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body class="text-center">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> [[#{course.name}]]</th>
        <th scope="col"> [[#{course.grade}]]</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grade : ${usersGrades} ">
        <td><span th:text="${grade.course.courseName}"> </span></td>
        <td><span th:text="${grade.grade}"> </span></td>
    </tr>
    </tbody>
</table>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<footer class="card-footer fixed-bottom" th:insert="fragments/footer :: footer"></footer>

</html>