<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:include="fragments/bootstrap :: head"></div>
</head>
<body class="text-center">
<h1 class="h3 mb-3 font-weight-normal" th:text="#{user.registration}"></h1>
<form th:action="@{/registration}" th:object="${userDto}" method="post" enctype="utf8">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>
    <div>
        <label>Username</label>
        <input th:field="*{username}"/>
        <label>First name</label>
        <input th:field="*{firstName}"/>

        <label>Last name</label>
        <input th:field="*{lastName}"/>

    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}"/>

    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>confirm</label>
        <input type="password" th:field="*{rePassword}"/>

    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
</form>
<div th:include="fragments/locale :: selectLanguage"></div>
<div th:include="fragments/locale :: localeScript"></div>

<a th:href="@{/login.html}">login</a>
</body>
</html>