<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h1>form</h1>
<form th:action="@{/admin/registration}" th:object="${userDto}" method="post" enctype="utf8">
    <div>
        <label th:text="#{label.username}"></label>
        <input th:field="*{username}"/>

        <label>first</label>
        <input th:field="*{firstName}"/>

        <label>last</label>
        <input th:field="*{lastName}"/>
    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}"/>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>confirm</label>
        <input type="password" th:field="*{rePassword}"/>
    </div>
    <button type="submit" >submit</button>
</form>

<a th:href="@{/login.html}">login</a>
</body>
</html>