<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:include="fragments/bootstrap :: head"></div>

</head>
<header>
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body class="text-center">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> [[#{usr.email}]]</th>
        <th scope="col"> [[#{user.username}]]</th>
        <th scope="col"> [[#{usr.name}]]</th>
        <th scope="col"> [[#{usr.role}]]</th>
        <th scope="col"> [[#{usr.status}]]</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> [[#{usr.empty}]]</td>
    </tr>
    <tr th:each="user : ${users} ">
        <td><span th:text="${user.email}"> </span></td>
        <td><span th:text="${user.username}"> </span></td>
        <td><span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></td>
        <td><span th:text="${user.role}"></span></td>
        <td><span th:text="${user.userStatus}"></span></td>
        <td>
            <div th:switch="${user.userStatus.name()}">
                <a th:case="'ACTIVE'" th:href="@{user-block/{id}(id=${user.id})}">[[#{usr.block}]]</a>
                <a th:case="'BLOCKED'" th:href="@{user-unblock/{id}(id=${user.id})}">[[#{usr.unblock}]]</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div th:include="fragments/bootstrap :: script"></div>
</body>
<footer class="card-footer fixed-bottom" th:insert="fragments/footer :: footer"></footer>

</html>
